In [85]:
import pandas as pd
import numpy as np

In [86]:
! pwd

/Users/michaelmainzer/Documents/GA/DSI/TeamPenguinWestNileKaggle/dataviz

In [87]:
train = pd.read_csv('../assets/train.csv')

In [88]:
test = pd.read_csv('../assets/test.csv')

In [89]:
frames = [train, test]

In [90]:
chicagoWN = pd.concat(frames)

In [91]:
train.shape

(10506, 12)

In [92]:
test.shape

(116293, 11)

In [93]:
chicagoWN.drop(['Id'], axis=1, inplace=True)

In [94]:
chicagoWN.reset_index(inplace=True)

In [95]:
spray = pd.read_csv('../assets/spray.csv')

In [96]:
spray['spray'] = 1

In [97]:
spray.head(10)

         Date        Time   Latitude  Longitude  spray
0  2011-08-29  6:56:58 PM  42.391623 -88.089163      1
1  2011-08-29  6:57:08 PM  42.391348 -88.089163      1
2  2011-08-29  6:57:18 PM  42.391022 -88.089157      1
3  2011-08-29  6:57:28 PM  42.390637 -88.089158      1
4  2011-08-29  6:57:38 PM  42.390410 -88.088858      1
5  2011-08-29  6:57:48 PM  42.390395 -88.088315      1
6  2011-08-29  6:57:58 PM  42.390673 -88.088002      1
7  2011-08-29  6:58:08 PM  42.391027 -88.088002      1
8  2011-08-29  6:58:18 PM  42.391403 -88.088003      1
9  2011-08-29  6:58:28 PM  42.391718 -88.087995      1

In [98]:
spray.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
spray          int64
dtype: object

In [99]:
chicagoWN.drop(['index'], axis=1, inplace=True)

In [108]:
chicagoWN.sort_values(by='Date', inplace=True)

In [109]:
chicagoWN.head()

,Address,AddressAccuracy,AddressNumberAndStreet,Block,Date,Latitude,Longitude,NumMosquitos,Species,Street,Time,Trap,WnvPresent,spray
0,"4100 North Oak Park Avenue, Chicago, IL 60634,...",9.0,"4100 N OAK PARK AVE, Chicago, IL",41.0,2007-05-29,41.954690,-87.800991,1.0,CULEX PIPIENS/RESTUANS,N OAK PARK AVE,NaN,T002,0.0,0
24,"8900 South Carpenter Street, Chicago, IL 60620...",8.0,"8900 S CARPENTER ST, Chicago, IL",89.0,2007-05-29,41.732984,-87.649642,1.0,CULEX RESTUANS,S CARPENTER ST,NaN,T159,0.0,0
23,"1500 North Long Avenue, Chicago, IL 60651, USA",8.0,"1500 N LONG AVE, Chicago, IL",15.0,2007-05-29,41.907645,-87.760886,1.0,CULEX RESTUANS,N LONG AVE,NaN,T153,0.0,0
22,"7500 North Oakley Avenue, Chicago, IL 60645, USA",8.0,"7500 N OAKLEY AVE, Chicago, IL",75.0,2007-05-29,42.017430,-87.687769,1.0,CULEX PIPIENS/RESTUANS,N OAKLEY AVE,NaN,T148,0.0,0
21,"6500 North Oak Park Avenue, Chicago, IL 60631,...",8.0,"6500 N OAK PARK AVE, Chicago, IL",65.0,2007-05-29,41.999129,-87.795585,1.0,CULEX PIPIENS/RESTUANS,N OAK PARK AVE,NaN,T143,0.0,0

In [110]:
chicagoWN.to_csv('../assets/tTrain.csv')

In [111]:
chicagoWN.dtypes

Address                    object
AddressAccuracy           float64
AddressNumberAndStreet     object
Block                     float64
Date                       object
Latitude                  float64
Longitude                 float64
NumMosquitos              float64
Species                    object
Street                     object
Time                       object
Trap                       object
WnvPresent                float64
spray                       int64
dtype: object